<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 course-list">
      <h2 class="text-center">Courses</h2>
    </div>
</div>

<% @courses.each do |course| %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 booyah-box">
      <% if course.image.present? %>
        <div class="col-xs-12 col-sm-5">
          <a href="#">
            <%= image_tag course.image, class: 'img-responsive'%>
          </a>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-7 course-card-text">
        <h3 class="course-title">
          <%= link_to course.title, course_path(course) %>
        </h3>
        <p class="course-des"><%= course.description %></p>
        <br />
        <br />
        <%= link_to 'More Details...', course_path(course), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
  <br />
<% end %>